*, ::before, ::after
  box-sizing: border-box

body
  margin: 0
  font-family: monospace
  display: flex
  justify-content: center

$cell-width: 50px
$width: 350px

.day
  padding: 5px
  text-align: center
  height: $cell-width
  cursor: pointer

  &:hover
    background-color: #e2e2e2

.day--with-border
  border: 1px solid #e2e2e2

.day--empty
  visibility: hidden

.day-name
  text-align: center
  padding: 5px
  width: $cell-width

.month
  border-spacing: 0
  border-collapse: collapse

.header
  display: flex
  align-items: center
  justify-content: space-between
  max-width: $width

  &__button-next, &__button-back
    font-size: 26px
    cursor: pointer
    padding: 5px
    width: 40px
    text-align: center

    &:hover
      background-color: #e2e2e2
